.arrow {
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
}
.button {
  position: absolute;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
  background-color: #000;
  border: solid 1px #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000000;
}
.button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.button:hover {
  transition: background-color 0.2s linear;
  background-color: #333;
}
.left {
  left: 0;
  transform: scaleX(-1);
}
.right {
  right: 0;
}