.banner {
  box-shadow: inset 0 -5rem 5rem black;
}
.eps {
  width: 14rem;
}
.eparrows {
  &::-webkit-scrollbar {
    height: 2px;
    border: 0;
    &-thumb {
      background: #fff;
      border: 0;
    }
  }
}
.cover {
  position: absolute;
  top: 20rem;
  left: 10vw;
  border: 2px solid #fff;
  box-shadow: 0 0 5rem rgba(0,0,0,1);
}
.desc {
  position: relative;
  left: calc(10vw + 15rem);
  width: 50vw;
}
.desc-text {
  margin-top: 1rem;
  color: #bbb;
  font-size: 1.25rem;
}
.firstep {
  background-color: white;
  color: black;
  padding: 0.1rem .5rem;
  line-height: 1.2;
  border-radius: 2rem;
  //margin-left: .5rem;
  height: 1.5rem;
  margin-bottom: -.5rem;
  /*flex: 1;*/
}